<div>
    <main>   
        <h1 class="text-center text-uppercase">Bootstrap</h1>
        <h2 class="text-end text-lowercase">Second</h2>
        <h3 class="text-capitalize">3 title  one tow</h3>     

        <hr>

        <div class="display-1 text-muted">Bootstrap</div>
        <div class="display-5">Second</div>
        <div class="display-6">3 title</div> 

        <hr>
        <div class="text-muted text-end">
            Додатковий <span class="display-6">текст</span>    
        </div>

        <hr>

        <button class="btn btn-primary">
            Text button
            {{!-- <span class="text-uppercase">Text button</span> --}}
        </button>
        <a href="#" class="btn btn-primary">
            Кнопка посилання
        </a>

        <p class="text-success">My text</p>
        <p class="text-muted">My text</p>

        <hr>

        <button class="btn btn-outline-primary btn-lg">My button</button>
        <button class="btn btn-outline-primary">My button</button>
        <button class="btn btn-outline-primary btn-sm">My button</button>

        <br>
        <br>

        <div class="card">
            <div class="card-body">
                <button class="btn btn-outline-primary btn-lg">My button</button>
                <button class="btn btn-outline-primary">My button</button>
                <button class="btn btn-outline-primary btn-sm">My button</button>
            </div>
        </div>



        <hr>
        <div class="card">
            <div class="card-body">
                This is content
            </div>
        </div>

        
    </main>
          
    
</div>