{{!-- 
    <div>
        <h2 >{{data}} </h2> 
    </div> --}}

{{#if big}}
    <h2 >{{data}} </h2> 
{{else}}
    <h3 >{{data}} </h3>
{{/if}} 

 


 {{!-- git push origin person  
  git status
  git checkout -b person створення нової вітки
   git checkout master перехід між вітками
   git push origin master  додати нові файли
   git add .
   git commit -m "sd" закомітити
   git pull origin master оновити дані   
   git remote add origin https://github.com/iv50/resume.git
   git npm rum dev --}}